// Import fonts
@import url("https://fonts.googleapis.com/css?family=Inter:400,700|Open+Sans:400,700&display=swap");

:root {
  // Colors
  --color-primary: #B409ED;
  --color-primary-light: #BF1BF6;
  --color-primary-dark: #540F6B;
  --color-grey-light: #f1f5f8;
  --color-grey-dark: #102a42;
  --text-grey: #999999;
  --border-light-grey: rgba(128, 128, 128, 40%);
  --color-white: #fff;
  --color-black: #222;
  --bg-black: #050503;

  // Typography
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  // Utilities
  --transition: all 0.3s linear;
  --radius: 4px;
  --shadow-light: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 620px;
}

// Breakpoints
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;

// Base styles
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
  background: var(--bg-black);
  color: var(--color-white);
  line-height: 1.5;
}

.main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

//header
.holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .header-text {
    font-family: var(--font-primary);
    font-size: 56px;
    line-height: 64px;
    font-weight: 800;
    text-align: center;

    span {
      background: linear-gradient(to right, #BF1BF6, #3F0552);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .header-small {
    text-align: center;
    font-size: 14px;
    z-index: -2;
  }
}


// Reviews Section
.reviews {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;

  &__header {
    text-align: center;
    margin-bottom: 64px;
  }

  &__title {
    font-family: var(--font-primary);
    font-size: 24px;
    text-transform: capitalize;

    @media (min-width: $bp-tablet) {
      font-size: 40px;
    }
  }
}

.review-x-controls {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 110%;
  justify-self: center;

  .review-card {
    background: rgba(5, 5, 3, .3);
    border: 2px solid var(--border-light-grey);
    margin-top: 40px;
    padding: 8px 12px 8px 8px;
    gap: 24px;
    border-radius: 16px;
    box-shadow: var(--shadow-light);
    transition: var(--transition);
    text-align: left;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(10px);


    &:hover {
      box-shadow: var(--shadow-dark);
    }

    .text-holder {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;

      .ph-fill {
        width: 16px;
        fill: var(--color-primary-light);
        color: var(--color-primary);
      }
    }


    &__image {
      width: 200px;
      height: 200px;
      border-radius: 8px;
      display: block;
      object-fit: cover;
    }

    &__author {
      font-family: var(--font-primary);
      font-size: 18px;
      text-transform: capitalize;
    }

    &__job {
      text-transform: uppercase;
      color: var(--text-grey);
      font-size: 12px;
    }

    &__text {
      margin-bottom: 12px;
      font-size: 14px;
      color: var(--color-white);
    }


  }

  .controls {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

// Review Card


//Background
.bg-work {
  width: 100%;
  top: -35px;
  right: 0px;
  position: absolute;
  justify-self: center;
  z-index: -1;
}

.top-rects {
  position: absolute;
  width: 30%;
  top: 60px;
  right: 540px;
  justify-self: center;
  z-index: -2;

}

// Button styles
.btn {
  background: rgba(5, 5, 3, .3);
  border: 2px solid var(--border-light-grey);
  padding: 16px;
  border-radius: 12px;
  color: var(--color-white);
  font-size: 16px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  cursor: pointer;

  i {
    width: 20px;
    height: 20px;
    color: var(--color-white)
  }

  &:hover {
    cursor: pointer;
    color: var(--color-black);
    background-color: var(--color-white);

    i {
      color: var(--color-black)
    }
  }

  &:active {
    transform: scale(0.9);
    background-color: var(--color-grey-light)
  }
}